.featurecard 
{
    border-radius: 12px;
    padding: 1.8rem 1.4rem;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.04);
    height: 100%;
    transition: all 0.2s  ease-in-out;
    border: 1px solid #ff2a40;
}
.featurecard img 
{
    margin-bottom: 15px;
    transition: filter 0.3s  ease;
}
